{% extends 'courses/base.html' %}

{% block title %}Quiz Details{% endblock %}

{% block content %}
<div class="container mt-4">
  <h1>
    {{ quiz.title }}
  </h1>
  <p>
    {{ quiz.description }}
  </p>
  <a href="{% url 'quiz_edit' quiz.pk %}" class="btn btn-warning">Edit Quiz</a>
  <a href="{% url 'quiz_delete' quiz.course.pk quiz.pk %}" class="btn btn-danger">Remove Quiz</a>

  <h2>Questions</h2>
  <ol>
    {% for question in questions %}
    <li>
      {{ question.question }}

      <h4>Correct Answer:
        {{ question.get_correct_answer }}
    </h4>
    
      <a href="{% url 'question_edit' question.quiz.pk question.pk %}" class="btn btn-warning">Edit Question</a>
      <a href="{% url 'question_delete' question.quiz.pk question.pk %}" class="btn btn-danger">Remove Question</a>

    </li>
    {% empty %}
    <li>No questions available.</li>
    {% endfor %}
  </ol>
  <h2>{{question.quiz.pk}}</h2>

  <a href="{% url 'question_create' quiz.pk %}" class="btn btn-success">Add Question</a>

</div>
{% endblock %}