{% extends 'courses/base.html' %}

{% block title %}Enrolled Courses - QuizMate{% endblock %}

{% block content %}
<div class="container mt-4">
  <h1>My Enrolled Courses</h1>
  <div class="row">
    {% for course in courses %}
    <div class="col-md-4">
      <div class="card mb-4">
        {% if course.image %}
        <img src="{{ course.image.url }}" class="card-img-top" alt="Course Image">
        {% else %}
        <img src="{% static 'default_course_image.jpg' %}" class="card-img-top" alt="Default Course Image">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">
            {{ course.name }}
          </h5>
          <p class="card-text">
            {{ course.description }}
          </p>
          <p class="card-text"><small class="text-muted">Instructor:
              {{ course.instructor.username }}</small></p>
          <a href="{% url 'course_detail' course.id %}" class="btn btn-primary">Continue Course</a>
        </div>
      </div>
    </div>
    {% empty %}
    <p>You are not enrolled in any courses.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}